#div {
  width: 150px;
  height: 200px;
  background-color: aqua;
  animation-name: example;
  animation-duration: 10s;
  position:relative;
  animation-delay:2s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1)
}

@keyframes example {
    0% {background-color: rgb(66, 190, 66); left: 0px; top: 0px;}
    20% {background-color: rgb(74, 218, 158); left: 200px; top: 0px;}
    50% {background-color: rgba(17, 59, 210, 0.732); left: 200px; top: 200px;}
    80%  {background-color: rgba(233, 61, 144, 0.732); left: 200px; top: 200px;}
    100%  {background-color: rgba(232, 98, 74, 0.732); left: 200px; top: 200px;}.

}
